* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    background-color: lightgrey;
    width: 1500px;
    margin: 0 auto;
}

header {
    height: 100px;
    padding: 20px;
    background-color: white;
}

h1 {
    display: inline-block;
    font-size: 50px;
}

main {
    background-color: white;
    height: 700px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 7px;
}

.nav {
    border-radius: 7px;
}

.button-task {
    background-color: rgb(21, 180, 243);
    color: white;
    width: 100px;
    border-radius: 7px;
    padding: 8px;
    margin-top: 20px;
    margin-left: 50px;
    display: inline-block;
    border: none;
}

.button-section {
    color: lightgrey;
    width: 100px;
    border-radius: 7px;
    padding: 8px;
    margin-top: 20px;
    border: 1px solid lightgrey;
}

hr {
    margin-top: 10px;
    color: lightgrey;
}

.selection {
    padding: 50px;
}

h2 {
    font-size: xx-large;
    display: inline-block;
}
 .option {
     display: inline-block;
}

 .check {
    color: green;
    border: 1px solid green;
    border-radius: 100%;
    width: 20px;
    text-align: center;
    display: inline-block;
}

 h3 {
     display: inline-block;
     padding: 10px;
}

 .button {
     display: inline-block;
     color: white;
     background-color: rgb(21, 180, 243);
     width: 80px;
     padding: 5px;
     text-align: center;
     border-radius: 10px;
}

.container {
    display: inline-block;
}